//Susy Framework and Susy Defaults
@import '../../bower_components/susy/sass/susy';

//Susy Maps
$susy: (
	columns: 12,
	gutters: 1/2,
	math: fluid,
	gutter-position: outside,
);

// Base
@import
'base/reset',
'base/base',
'base/typography';

// Utilities
@import
'utils/responsive',
'utils/functions',
'utils/helpers',
'utils/mixins',
'utils/variables';

// Components
@import
'components/buttons';

// Layout
@import
'layout/footer',
'layout/forms',
'layout/grid',
'layout/header',
'layout/navigation',
'layout/sidebar';

// Pages - may you never need to create styles per page.
