.container {
	@include container;
	@include clearfix; 
	background-color: #999666;
}

.ag1, .ag3 {
	background-color: #eee;
}

.ag2 {
	background-color: #b5c1ad;
}

.ag4,.ag5,.ag8,.ag9 {
  background-color: #ee9e9c;
}

.ag6 {
  background-color: #f09671;
}

.ag7 {
  background-color: #f6d784;
}

.ag10 {
  background-color: #ea9fc3;
}

.ag1 {
	@include span(2 of 10);
}
.ag2 {
	@include span(6 of 10);
	@include clearfix;
}
.ag3 {
	@include span(2 of 10 last);
}

.ag4 {
	@include span(3 of 6);
}

.ag5 {
	@include span(3 of 6 last);
}

.ag4, .ag5 {
	@include span(3 of 6);
}

.ag5 {
	@include last;
}

.ag8 {
	@include span(2 of 4);
}

.ag9 {
	@include span(2 of 4 last);
}

.ag10 {
	@include span(full);
}

/**
 * Text Styles
 */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
