nav {
	@include span(4.5 last);
	li {
		display: inline-block;
		list-style: none;
		@include padding-mixin(10px);
		a {
			color: #999;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: #000;
			}
		}

	}
}
